#!/usr/bin/env bash

# ---------------------------------------------------------------------------
# This file is part of hermod.
#
# Copyright (c) 2019 ItsANameToo <itsanametoo@protonmail.com>
# Copyright (c) Brian Faust <hello@brianfaust.me>
#
# For the full copyright and license information, please view the LICENSE
# file that was distributed with this source code.
# ---------------------------------------------------------------------------

# -------------------------
# Monitor
# -------------------------

monitor_lines=10                                           # number of lines to monitor...
monitor_interval=1                                         # time to wait after a log check in seconds...
monitor_sleep_after_notif=10                               # time to wait after a notification was sent in seconds

# -------------------------
# Core
# -------------------------
core_path=~/ark-core                                       # path to core's main directory (no trailing slash!)
core_network=devnet                                        # values: devnet, mainnet, testnet
core_log_path="$HOME/.local/state/ark-core/$core_network"  # path to where logs are stored (no trailing slash!)

# -------------------------
# Delegate
# -------------------------

delegate_username=''                                       # username of the delegate running on the node
delegate_public_key=''                                     # public key of the delegate running on the node

# -------------------------
# Snapshots
# -------------------------

snapshots_enabled=true                                     # set to true to enable the snapshot module
snapshots_retain=5                                         # how many snapshots we'll store in this server

# -------------------------
# [Notifications] Driver
# -------------------------

# example would be notification_drivers=(log slack pushover)

notification_drivers=(log)                                 # notification methods...
                                                           # values: none, log, email, mailgun, slack, nexmo
                                                           # pushover, pushbullet, discord, twilio_call, twilio_message

# -------------------------
# [Notifications] Log
# -------------------------

notification_log=${hermod_dir}/hermod.log                  # log file...

# -------------------------
# [Notifications] E-Mail
# -------------------------

notification_email_to=''                                   # e-mail recipient...
notification_email_subject='hermod'                        # e-mail subject...

#-------------------------
# [Notifcations] Discord
#-------------------------
notification_discord_webhook=''                            # discord incoming webhook...

# -------------------------
# [Notifications] Slack
# -------------------------

notification_slack_webhook=''                              # slack incoming webhook...
notification_slack_channel=''                              # slack channel (@username or #channel)...
notification_slack_from='hermod'                           # slack author...
notification_slack_emoji='boat'                            # slack icon...

# -------------------------
# [Notifications] Nexmo
# -------------------------

notification_nexmo_from='hermod'                           # sms author...
notification_nexmo_to=''                                   # recipient phone number...
notification_nexmo_api_key=''                              # nexmo api key...
notification_nexmo_api_secret=''                           # nexmo api ...

# -------------------------
# [Notifications] Pushover
# -------------------------

notification_pushover_token=''                             # pushover api token...
notification_pushover_user=''                              # pushover user key...
notification_pushover_title='hermod'                       # push notification title...

# -------------------------
# [Notifications] Pushbullet
# -------------------------

notification_pushbullet_access_token=''                    # pushbullet access token...
notification_pushbullet_title='hermod'                     # push notification title...

# -------------------------
# [Notifications] Mailgun
# -------------------------

notifications_mailgun_api_key=''                           # mailgun api key...
notifications_mailgun_domain=''                            # mailgun domain...
notifications_mailgun_from='hermod'                        # sender name...
notifications_mailgun_to=''                                # recipient e-mail...
notifications_mailgun_subject='hermod'                     # e-mail subject

# -------------------------
# [Notifications] Twilio
#
# twilio_call will call you if there's a problem with your node. Be aware that it can be
# very annoying, specailly during the night. Consider using the Night Mode if it annoys you.
#
# -------------------------

notifications_twilio_account_sid=''                       # twilio api client id...
notifications_twilio_auth_token=''                        # twilio api token...
notifications_twilio_from=''                              # caller phone number (In this convention: +15551234567)
notifications_twilio_to=''                                # recipient phone number (In this convention: +15551234567)
