#!/usr/bin/env bash

# ---------------------------------------------------------------------------
# This file is part of noah.
#
# (c) Brian Faust <hello@brianfaust.me>
#
# For the full copyright and license information, please view the LICENSE
# file that was distributed with this source code.
# ---------------------------------------------------------------------------

# -------------------------
# Trigger Action
# -------------------------

trigger_action='rebuild' # rebuild or notify

# -------------------------
# Monitor
# -------------------------

monitor_lines=10                                       # number of lines to monitor...
monitor_rebuild=300                                    # time to wait after a rebuild in seconds...
monitor_interval=1                                     # time to wait after a log check in seconds...

# -------------------------
# [Notifications] Driver
# -------------------------

# example would be notification_drivers=(log slack pushover)

notification_drivers=(log)                             # notification methods...
                                                       # values: none, log, email, mailgun, slack, nexmo
                                                       # pushover, pushbullet, discord, twilio_call, twilio_message

# -------------------------
# [Notifications] Log
# -------------------------

notification_log=${noah_dir}/noah.log                  # log file...

# -------------------------
# [Notifications] E-Mail
# -------------------------

notification_email_to=''                               # e-mail recipient...
notification_email_subject='noah'                      # e-mail subject...

#-------------------------
# [Notifcations] Discord
#-------------------------
notification_discord_webhook=''                        # discord incoming webhook...

# -------------------------
# [Notifications] Slack
# -------------------------

notification_slack_webhook=''                          # slack incoming webhook...
notification_slack_channel=''                          # slack channel (@username or #channel)...
notification_slack_from='noah'                         # slack author...
notification_slack_emoji='boat'                        # slack icon...

# -------------------------
# [Notifications] Nexmo
# -------------------------

notification_nexmo_from='noah'                         # sms author...
notification_nexmo_to=''                               # recipient phone number...
notification_nexmo_api_key=''                          # nexmo api key...
notification_nexmo_api_secret=''                       # nexmo api ...

# -------------------------
# [Notifications] Pushover
# -------------------------

notification_pushover_token=''                         # pushover api token...
notification_pushover_user=''                          # pushover user key...
notification_pushover_title='noah'                     # push notification title...

# -------------------------
# [Notifications] Pushbullet
# -------------------------

notification_pushbullet_access_token=''                # pushbullet access token...
notification_pushbullet_title='noah'                   # push notification title...

# -------------------------
# [Notifications] Mailgun
# -------------------------

notifications_mailgun_api_key=''                       # mailgun api key...
notifications_mailgun_domain=''                        # mailgun domain...
notifications_mailgun_from='noah'                      # sender name...
notifications_mailgun_to=''                            # recipient e-mail...
notifications_mailgun_subject='noah'                   # e-mail subject

# -------------------------
# [Notifications] Twilio
#
# twilio_call will call you if there's a problem with your node. Be aware that it can be
# very annoying, specailly during the night. Consider using the Night Mode if it annoys you.
#
# -------------------------

notifications_twilio_account_sid=''                   # twilio api client id...
notifications_twilio_auth_token=''                    # twilio api token...
notifications_twilio_from=''                          # caller phone number (In this convention: +15551234567)
notifications_twilio_to=''                            # recipient phone number (In this convention: +15551234567)


# -------------------------
# Night Mode
# -------------------------

night_mode_enabled=false                               # enable or disable night mode...
night_mode_start=22                                    # when the night begins...
night_mode_end=8                                       # when the day begins...

# -------------------------
# Relay
# -------------------------

relay_enabled=false                                    # use relay instead of rebuild only...
relay_user=''                                          # ssh user...
relay_ip=''                                            # ssh ip address...
relay_port=22                                          # ssh port address...
relay_secret=''                                        # delegate secret...

# -------------------------
# Snapshots
# -------------------------

snapshot_mainnet=(
    'http://s.arkmoon.com/current'
    'https://s.arknode.ninja/current'
    'https://snapshots.ark.io/current'
    'https://www.arkdelegate.com/snapy/current'
    'https://snapshots.ark.land/current'
)

snapshot_devnet=(
    'https://dsnapshots.ark.io/current'
    'https://dsnapshot.arknode.ninja/current'
    'http://dexplorer.ark.land/snapshots/current'
)
