# --------------------------------------------------------------------------------------------------
# Network
# --------------------------------------------------------------------------------------------------

NETWORK='mainnet'                               # network we operate on...

declare -A SNAPSHOT_SOURCES=(
    ['mainnet']="https://snapshots.ark.io/current"
    ['devnet']="https://dsnapshots.ark.io/current"
)

SNAPSHOT_SOURCE=${SNAPSHOT_SOURCES[$NETWORK]}   # snapshot source based on network...

# --------------------------------------------------------------------------------------------------
# Directories
# --------------------------------------------------------------------------------------------------

DIRECTORY_ARK="$HOME/ark-node"                   # ark-node directory...
DIRECTORY_SNAPSHOT="$HOME/snapshots"             # ark-node directory for snapshots...
DIRECTORY_NOAH="$HOME/noah"                      # noah directory...

# --------------------------------------------------------------------------------------------------
# Files
# --------------------------------------------------------------------------------------------------

FILE_ARK_LOG="$DIRECTORY_ARK/logs/ark.log"       # ark-node log file...

# --------------------------------------------------------------------------------------------------
# Timeouts / Sleeps
# --------------------------------------------------------------------------------------------------

WAIT_BETWEEN_REBUILD=15m                         # waiting time between rebuilds...
WAIT_BETWEEN_LOG_CHECK=5                         # waiting time between log checks...

# --------------------------------------------------------------------------------------------------
# Notifications
# --------------------------------------------------------------------------------------------------

NOTIFICATION_DRIVER=(LOG)                        # notification method...
                                                 # values: none, log, email, slack, sms, pushover

NOTIFICATION_LOG=${DIRECTORY_NOAH}/noah.log      # log file...

NOTIFICATION_EMAIL_TO="your@email.com"           # e-mail recipient...
NOTIFICATION_EMAIL_SUBJECT="Noah"                # e-mail subject...

NOTIFICATION_SLACK_CHANNEL="@your_username"      # slack channel (@username or #channel)...
NOTIFICATION_SLACK_FROM="Noah"                   # slack author...
NOTIFICATION_SLACK_ICON="middle_finger"          # slack icon...
NOTIFICATION_SLACK_SLACKTEE=$(which slacktee.sh) # slacktee location...

NOTIFICATION_SMS_FROM="Noah"                     # sms author...
NOTIFICATION_SMS_TO=""                           # recipient phone number...
NOTIFICATION_SMS_API_KEY=""                      # nexmo api key...
NOTIFICATION_SMS_API_SECRET=""                   # nexmo api ...

NOTIFICATION_PUSHOVER_TOKEN=""                   # pushover api key...
NOTIFICATION_PUSHOVER_USER=""                    # pushover user key...
NOTIFICATION_PUSHOVER_TITLE="Noah"               # push notification title...

# --------------------------------------------------------------------------------------------------
# Night Mode
# --------------------------------------------------------------------------------------------------

NIGHT_MODE_ENABLED=false                         # enable or disable night mode...
NIGHT_MODE_START=22                              # when the night begins...
NIGHT_MODE_END=8                                 # when the day begins...
