# --------------------------------------------------------------------------------------------------
# This file is part of noah.
#
# (c) Brian Faust <hello@brianfaust.me>
#
# For the full copyright and license information, please view the LICENSE
# file that was distributed with this source code.
# --------------------------------------------------------------------------------------------------

# --------------------------------------------------------------------------------------------------
# Network
# --------------------------------------------------------------------------------------------------

network='mainnet'                               # network we operate on...

declare -A snapshot_sources=(
    ['mainnet']='https://snapshots.ark.io/current'
    ['devnet']='https://dsnapshots.ark.io/current'
)

snapshot_source=${snapshot_sources[$network]}   # snapshot source based on network...

# --------------------------------------------------------------------------------------------------
# Directories
# --------------------------------------------------------------------------------------------------

directory_ark="$HOME/ark-node"                   # ark-node directory...
directory_snapshot="$HOME/snapshots"             # ark-node directory for snapshots...
directory_noah="$HOME/noah"                      # noah directory...

# --------------------------------------------------------------------------------------------------
# Files
# --------------------------------------------------------------------------------------------------

file_ark_log="$directory_ark/logs/ark.log"       # ark-node log file...
file_noah_log="$directory_noah/noah.log"    # ark-node log file...

# --------------------------------------------------------------------------------------------------
# Timeouts / Sleeps
# --------------------------------------------------------------------------------------------------

wait_between_rebuild=15m                         # waiting time between rebuilds...
wait_between_log_check=5                         # waiting time between log checks...

# --------------------------------------------------------------------------------------------------
# Notifications
# --------------------------------------------------------------------------------------------------

notification_driver=(log)                        # notification method...
                                                 # values: none, log, email, slack, sms, pushover, pushbullet

notification_log="$directory_noah/noah.log"      # log file...

notification_email_to='your@email.com'           # e-mail recipient...
notification_email_subject='noah'                # e-mail subject...

notification_slack_channel='@your_username'      # slack channel (@username or #channel)...
notification_slack_from='noah'                   # slack author...
notification_slack_icon='middle_finger'          # slack icon...
notification_slack_slacktee=$(which slacktee.sh) # slacktee location...

notification_nexmo_from='noah'                   # sms author...
notification_nexmo_to=''                         # recipient phone number...
notification_nexmo_api_key=''                    # nexmo api key...
notification_nexmo_api_secret=''                 # nexmo api ...

notification_pushover_token=''                   # pushover api token...
notification_pushover_user=''                    # pushover user key...
notification_pushover_title='noah'               # push notification title...

notification_pushbullet_access_token=''          # pushbullet access token...
notification_pushbullet_title='noah'             # push notification title...

notifications_mailgun_api_key=''                 # mailgun api key...
notifications_mailgun_domain=''                  # mailgun domain...
notifications_mailgun_from='noah'                # sender name...
notifications_mailgun_to=''                      # recipient e-mail...
notifications_mailgun_subject='noah'             # e-mail subject

# --------------------------------------------------------------------------------------------------
# Night Mode
# --------------------------------------------------------------------------------------------------

night_mode_enabled=false                         # enable or disable night mode...
night_mode_start=22                              # when the night begins...
night_mode_end=8                                 # when the day begins...

# --------------------------------------------------------------------------------------------------
# Observer
# --------------------------------------------------------------------------------------------------

observe_lines=3                                  # number of lines to observe.
